---
import type { GetStaticPaths } from "astro"
import articlesEs from "../database/articles-es.json"
import { formatDate } from "../utils/formatDate"
---

<main class="main">
  {
    articlesEs
      .sort(
        (a, b) =>
          new Date(b.publishedAt).getTime() - new Date(a.publishedAt).getTime()
      )
      .map((article) => (
        <a
          class="article-link"
          href={article.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <article class="article">
            <img
              class="article-image"
              src={article.image}
              alt={article.title}
            />
            <p style={{ fontStyle: "italic" }}>
              {formatDate(new Date(article.publishedAt))}
            </p>
            <h3 class="article-title">{article.title}</h3>
            <p>{article.description}</p>
            <div class="article-source">
              <p>{article.source.name}</p>
            </div>
          </article>
        </a>
      ))
  }
</main>

<style>
  .main {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 1rem;

    .article-link {
      text-decoration: none;
      color: var(--black-color);
    }

    .article {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &:hover {
        .article-title {
          text-decoration: underline;
        }
      }

      .article-image {
        border-radius: 0.25rem;
      }

      .article-title {
        font-size: 1.5rem;
      }

      .article-source {
        margin-top: 0.5rem;
        background-color: var(--neutral-light-color);
        color: var(--black-color);
        font-size: 0.875rem;
        padding: 0.4rem 0.9rem;
        border-radius: 1rem;
        width: fit-content;
      }
    }
  }

  @media (max-width: 800px) {
    .header {
      .header-title {
        font-size: 2.5rem;
      }

      .header-description {
        font-size: 1rem;
      }

      .country-selector {
        width: 100vw;

        .country {
          font-size: 1rem;
        }
      }
    }

    .main {
      grid-template-columns: 1fr;
    }
  }
</style>
